@import '../../ui/styles';
@import '../../ui/styles/typography';

:root {
  --ck-font-sans: Inter;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: none;

  @media (width >= --theme(--breakpoint-sm)) {
    padding-inline: 1.5rem;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
