<ng-content select="ck-accordion-item-header, [ckAccordionItemHeader]" />

<div
  class="grid transition-[grid-template-rows]"
  [class.grid-rows-[1fr]]="expanded"
  [class.animate-in]="expanded"
  [class.fade-in]="expanded"
  [class.slide-in-from-top-2]="expanded"
  [class.grid-rows-[0fr]]="!expanded"
  [class.animate-out]="!expanded"
  [class.fade-out]="!expanded"
  [class.slide-out-to-top-2]="!expanded"
>
  <div
    role="region"
    class="overflow-hidden"
    [id]="id"
    [attr.aria-labelledby]="id + '-header'"
  >
    <ng-content />
  </div>
</div>
